* {
   box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
   background-color: #fafafa;
   color: #4a4a4a;
}

h1 {
  margin: 0px;
}

h2 {
  padding: 30px 0;
}

header {
  padding: 20px 0;
}

.wrapper {
  min-height: calc(100vh - 60px);
}

footer {
  padding: 30px 0;
}

a,
.bottom-menu {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: #4a4a4a;
}

h1,
h2,
h3 {
  font-family: "Dosis", sans-serif;
}

p,
nav,
ul {
  font-family: "Dosis", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 1em;
  color: #000;
}

p{
  line-height: 1.5em;
}

.projects {
  background-color: #fff;
  padding-bottom: 30px;
}

.contact-info,
.skills {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 30px;
}

.footer-title {

  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom-menu {
  display: inline;
  float: right;
}

/*------Media Query-----*/

@media (min-width: 768px) {
    .container {
      text-align: center;
      max-width: 768px;
      margin: 0 auto;
    }

    header li {
      display: inline-block;
    }

    .top-menu a {
      width: 100%;
      padding: 1em;
      background-color: #fff;
      display: inline-block;
      color: #4a4a4a;
      transition-property: background-color, color;
      transition-duration: .5s;
    }

    .top-menu a:hover {
      background-color: #f78460;
      color: #fff;
    }

    .list li {
      margin: 10px 0;
    }

    .user-photo img {
      float: right;
      margin: 0 0 10px 10px;
    }

    .user-photo {
      text-align: inherit;
    }

    .projects li {
      display: inline-block;
      width: 45%;
      margin-right: 1em;
    }

    .bottom-menu {
      display: inline;
      text-align: right;
    }

    .bottom-menu li {
      display: inline-block;
      padding-left: 10px;
      list-style-type: none;
    }

    .projects ul {
     padding: 0;
     list-style-type: none;
}

.footerLink {
	display: inline;
	float: right;
}

}

@media(min-width: 1024px) {
  h1 {
    float: left;
    display: inline-block;
  }
  .top-menu {
    float: right;
  }

  .top-menu li {
    padding: 0;
    margin: 0;
  }


  .container {
    max-width: 95%;
    margin: 0 auto;
  }

  .user-photo p {
    font-size: 1.5em;
  }

  .user-photo img {
    float: right;
    margin: 0 0 10px 10px;
  }

  .projects li{
    display: inline-block;
    width: 30%;
    margin-right: 1em;
  }

  .list li{
    display: inline-block;
  }
}
